/* Home.module.css */
.hoverEffect {
  position: relative;
}

.hoverEffect::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid transparent; /* Set the initial border */
  transition: border-color 0.5s ease;
}

.hoverEffect:hover::before {
  border-color: #ffd700; /* Set the border color on hover */
}
